.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: Start-logo-spin infinite 20s linear;
  }
}

@keyframes Start-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
